%tr.tag
  %td
    = escape_once(tag.name)
    = clipboard_button(text: "#{tag.location}")
  %td
    - if tag.revision
      %span.has-tooltip{ title: "#{tag.revision}" }
        = tag.short_revision
    - else
      \-
  %td
    - if tag.total_size
      = number_to_human_size(tag.total_size)
      &middot;
      = pluralize(tag.layers.size, "layer")
    - else
      .light
        \-
  %td
    - if tag.created_at
      = time_ago_with_tooltip tag.created_at
    - else
      .light
        \-
  - if can?(current_user, :update_container_image, @project)
    %td.content
      .controls.d-none.d-sm-block.float-right
        = link_to project_registry_repository_tag_path(@project, tag.repository, tag.name),
                  method: :delete,
                  class: 'btn btn-remove has-tooltip',
                  title: '移除标签',
                  data: { confirm: '您确定要删除这个标签？' } do
          = icon('trash cred')
